body {
  font-family: serif;
}

.header,
.footer {
  color: $base-foreground-color;
  background-color: $base-color;

  .x-button {
    color: $base-foreground-color;
  }
}

.home-icon {
  background-image: url("/resources/images/stock.svg");
  background-size: 100% 100%;
  background-position: 0% 0% !important;
  background-repeat: no-repeat;
}

.btn-primary {
  color: $base-foreground-color;
  background-color: $base-color;
}

h1 {
  text-align: center;
}
